<h2>User info</h2>
<td><%= attachment_image_tag user, :profile_image_id %></td>
<table class='table'>
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>
<% if user == current_user %>
<div class='row'>
  <%= link_to edit_user_path(user.id), class:'btn btn-edit fas fa-user-cog' %>
</div>
<% end %>
