/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

main{
  margin-top:20px;
}

.navbar-toggler{
  background-color:white;
}

.btn{
  text-align:center;
}

.btn-info{
  background-color:#17a2b8;
  border-color:#17a2b8;
}

.btn-success{
  background-color:#28a745;
  border-color:#28a745;
}

.btn-primary{
  background-color:#077bff;
  border-color:#077bff;
  border-radius:2px;
  margin-top:10px;
  padding-top:3px;
}

.btn-danger{
  background-color:red;
  border-color:red;
}

.btn-update{
  background-color:#6c757d;
  border-color:#6c757d;
  color:white;
}

.flash{
  color:orange;
}

.errors{
  color:red;
}

